@import "../node_modules/bootstrap/scss/functions";

$link-color: #dd4814;
$nav-link-color: #dd4814;
$nav-link-hover-color: #97310e;

$link-decoration: null;

$dark: #333;

.float-right {
	float: right;
}

.form-group {
	margin-bottom: 1rem;
}

$link-decoration: none;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
