[APY]
HTML_URL = https://www.apertium.org
APY_URL = https://www.apertium.org/apy

#SUBTITLE =
#SUBTITLE_COLOR =

# Set ALLOWED_* and ENABLED_* configuration parameters to undefined for all (no filtering)
ALLOWED_LANGS =
ALLOWED_VARIANTS = BR, aran, valencia

# Available modes are currently 'translation', 'analyzation', 'generation', 'sandbox'
ENABLED_MODES = translation
DEFAULT_MODE = translation

# Whether or not to enable chained translations
TRANSLATION_CHAINING = False

SHOW_NAVBAR = False

#PIWIK_SITEID = 1
#PIWIK_URL = http://apertium.org/piwik

# Expiry times are in hours (set them to 0 for no caching)
LIST_REQUEST_CACHE_EXPIRY = 24
LANGUAGE_NAME_CACHE_EXPIRY = 24
LOCALIZATION_CACHE_EXPIRY = 24
AVAILABLE_LOCALES_CACHE_EXPIRY = 24

# Localisation replacement strings, see assets/strings/*.json for usage:
[REPLACEMENTS]
maintainer = <a href='http://wiki.apertium.org/wiki/Apertium' target='_blank' rel='noopener'>Apertium</a>
