.tagline {
    color: #ebebeb;
    font-weight: normal;
    margin: 5px 0 0;
}

.localeGlobe {
    color: #ebebeb;
}

.apertiumLogo {
    color: #f5f5f5;
}

.languageName:hover:not(.text-muted) {
    background-color: #485563;
    color: #ebebeb;
}
