.apertiumLogo {
    color: #525252;
}

.languageName:not(.text-muted) {
    color: #fff;
}

.languageName:hover:not(.text-muted) {
    background-color: #2a9fd6;
}

#translatedText:not(.text-danger) {
    color: #fff;
}
