.clearButton {
    background-color: rgba(0, 0, 0, 0);
    color: #000;
}

.languageName:not(.text-muted) {
    color: #375a7f;
}

.languageName:hover:not(.text-muted) {
    background-color: #0ce3ac;
}

.apertiumLogo {
    color: #f5f5f5;
}

.tagline {
    margin: 10px 0;
}
