.localeGlobe {
    color: #333;
}

.apertiumLogo {
    color: #777;
}

p.tagline {
    color: #333;
    font-weight: normal;
    margin: 5px 0px 5px;
}
}

.languageName:hover:not(.text-muted) {
    color: white;
    background-color: #158CBA;
}

.apertiumBox {
    background-image: url('../img/Apertium_box_small.png');
}

