.apertiumLogo {
    color: #d3d3d3;
}

.localeGlobe {
    color: #eee;
}

.tagline {
    font-weight: normal;
    margin: 5px 0 0;
}

.languageName:hover:not(.text-muted) {
    background-color: #272b30;
    color: #fff;
}
