.localeGlobe {
    color: #777;
}

.tagline {
    color: #777;
    font-weight: normal;
    margin: 5px 0;
}

.apertiumLogo {
    color: #808080;
}

.apertiumBox {
    background-image: url('../img/Apertium_box_small.png');
}
