.localeGlobe {
    color: #333;
}

.apertiumLogo {
    color: #777;
}

.tagline {
    color: #333;
    font-weight: normal;
    margin: 5px 0;
}

.languageName:hover:not(.text-muted) {
    background-color: #158cba;
    color: #fff;
}

.apertiumBox {
    background-image: url('../img/Apertium_box_small.png');
}
