.localeGlobe {
    color: #666;
}

.apertiumLogo {
    color: #666;
}

.languageName:hover:not(.text-muted) {
    color: #666;
    background-color: #EEE;
}

p.tagline {
    color: #444;
    margin: 15px 0px 10px;
}

.apertiumBox {
    background-image: url('../img/Apertium_box_small.png');
}

