.localeGlobe {
    color: #777;
}

p.tagline {
    color: #777;
    margin: 5px 0px 5px;
    font-weight: normal;
}

.apertiumLogo {
    color: gray;
}

.apertiumBox {
    background-image: url('../img/Apertium_box_small.png');
}

