.localeGlobe {
    color: #333;
}

.apertiumLogo {
    color: #666;
}

.languageName:hover:not(.text-muted) {
    background-color: #4582ec;
    color: #333;
}

.tagline {
    color: #333;
    margin: 5px 0;
}

.apertiumBox {
    background-image: url('../img/Apertium_box_small.png');
}
