.localeGlobe {
    color: #000;
}

.apertiumLogo {
    color: #808080;
}

.tagline {
    color: #000;
}

.languageName:hover:not(.text-muted) {
    background-color: #eb6864;
    color: #fff;
}

.apertiumBox {
    background-image: url('../img/Apertium_box_small.png');
}
