.apertiumLogo {
    color: #f5f5f5;
}

.clearButton {
    border: 0;
}

.languageName:not(.text-muted) {
    color: #fff;
}

.localeGlobe {
    color: #c8c8c8;
}

.languageName:hover:not(.text-muted) {
    background-color: #272b30;
    color: #fff;
}
