.localeGlobe {
    color: #666;
}

.apertiumLogo {
    color: #666;
}

.languageName:hover:not(.text-muted) {
    background-color: #eee;
    color: #666;
}

.tagline {
    color: #444;
    margin: 15px 0 10px;
}

.apertiumBox {
    background-image: url('../img/Apertium_box_small.png');
}
