.content-editable {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 150px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .misspelled {
    position: relative;
    display: inline-block;
    text-decoration: underline wavy red;
    cursor: pointer;
  }
  
   .suggestions {
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
   .suggestions::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .suggestions div {
    padding: 5px;
    cursor: pointer;
  }
  
  .suggestions div:hover {
    background-color: #f0f0f0;
  }
  