.left-part {
    text-align: right;
}

#loading-indicator {
    display: none;
    z-index: 10000;
    position: absolute;
    left: 50%;
    top: 50%;
}

.modeContainer {
    display: none;
}

#localeSelect {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 25px;
}

.tagline {
    color: rgb(255, 255, 255);
}

.languageName {
	display: block;
	color: #333333;
	text-decoration: none;
}

.languageName:hover:not(.text-muted) {
	color: #ffffff;
	background-color: #446e9b;
	cursor: pointer;
	text-decoration: underline;
}

#srcLanguages {
	font-size: 14px;
	min-width: 500px;
	left: 81%;
	text-align: center;
}

#dstLanguages {
	font-size: 14px;
	min-width: 500px;
	left: -520%;
	text-align: center;
}
