/* General */

.localeGlobe {
    color: rgb(255, 255, 255);
}

.clearButton {
    background-color: rgba(0, 0, 0, 0);
}

.clearButton:hover, .clearButton:focus {
    color: black;
    background-color: #EEE;
}

/* Navbar */

.apertiumLogo {
    color: gray;
}

.apertiumSubLogo {
    color: orange;
}

p.tagline {
    color: white;
}

/* Translation */

.languageName:hover:not(.text-muted) {
    color: white;
    background-color: #446E9B;
}

button.disabledLang {
    color: gray !important;
}

/* No JS Banner */

/* Footer */

/* RTL Stuff */

