#dropDown{
	width:630px;
	height:30px;
	background-color:#fff;
	margin:50px auto;
	padding:5px 10px;
	color:#444;
	cursor:defaullt;
	font-family: Arial, sans-serif;
}

#dropDown a{
	color:#444;
}

#dropDown li{
	display:inline;
	text-decoration:none;
}

#dropDown em{
	font-style:normal;
}

.itemSelect{
	min-width:125px;
	min-height:25px;
	background-image:-webkit-linear-gradient(top,whiteSmoke,#f1f1f1);
	border-radius:2px;
	padding:8px 8px 3px 8px;
	
	cursor:default;
	border:1px solid #ddd;
	
	text-align: center;
	text-decoration: none !important;
	-moz-user-select: none;
	position:absolute;
	-webkit-user-select: none;
}

#selectTo{
	margin-left:355px;
}


.itemSelect:hover{
	background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border:1px solid #ccc;
}
#swapLanguages{
	width:40px;
	height:25px;
	background-image:-webkit-linear-gradient(top,whiteSmoke,#f1f1f1);
	border-radius:2px;
	padding:3px 5px;
	border:1px solid #ddd;
	position:absolute;
	margin-left:230px;
	
	padding:8px 8px 3px 8px;
	
	text-align: center;
	text-decoration: none !important;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#swapLanguages:hover{

	background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border:1px solid #ccc;
}

#dropDownSub{
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-transition: opacity 0.218s;
	-moz-transition: opacity 0.218s;
	-o-transition: opacity 0.218s;
	transition: opacity 0.218s;
	background: white;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, .2);
	cursor: default;
	font-size: 13px;
	margin: 0;
	outline: none;
	padding: 6px 0;
	position: absolute;
	margin-top:35px;
	font-size:12px;
	
	text-align: center;
	text-decoration: none !important;
	-moz-user-select: none;
	-webkit-user-select: none;
	z-index:1;
}


td{
vertical-align: top;
padding: 0;
margin: 0;
}

table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

.column-group{
	float:left;

}

.column-group a{
	display:block;
	padding: 3px 3px 3px 3px;
	margin-right: 15px;
	border-style: none;
	border:1px solid #fff;
	
	background-color:#f1f1f1;

}

.column-group a:hover{
	background-color:#f1f1f1;
	border:1px solid #52B8EF;
}

.language-selected{
	padding: 3px 3px 3px 3px;
	color:#ccc !important;
	background-color:#f1f1f1;
	cursor:default;
}

.selectFromSub a{
	color:#444 !important;
	background-color: #fff !important;
}
