html,
body {
    height: 100%; /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    height: auto !important; /* sass-lint:disable-line no-important */
    margin: 0 auto -60px; /* Negative indent footer by it's height */
    min-height: 99.5%;
}

#push {
    height: 60px; /* Set the fixed height of the footer */
}

#footer {
    height: auto;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media(max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media print {
    #footer {
        display: none;
    }
}

#footer-container {
    position: relative;
}

#version {
    position: absolute;
    right: 15px;
    top: 40px;
}

#version:hover, #version:active, #version:focus {
    text-decoration: none;
}
