h2 {
    margin-top: 0;
}

.modeContainer {
    display: none;
}

.outputContainer {
    margin: 5em 0;
}

.blurred {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    opacity: .5;
    transition: all 1s ease;
}

#loadingIndicator {
    display: none;
    left: 48%;
    position: absolute;
    top: 45%;
    z-index: 10000;
}

#aboutModalTrigger {
    cursor: pointer;
}

#xsHelpMessageContainer {
    margin-top: 10px;
}

/* Utilities */

/* sass-lint:disable class-name-format */
.w-0 {
    width: 0%;
}

/* sass-lint:enable class-name-format */

/* About modal */

#aboutModalMaintainer {
    padding-bottom: 2em;
}

#gsocLogoContainer,
#codeInLogoContainer {
    text-decoration: none;
}

#gsocLogo {
    height: 2.5em;
}

#codeInLogo {
    height: 2.5em;
    padding-left: .5em;
}

#bytemarkLogo {
    margin-top: .5em;
}

#githubLogo {
    height: 1.5em;
}

#creativeCommonsLicence,
#gnuGplLicence {
    margin-bottom: 0;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 0;
}

/* Info modal */

#infoModalApertiumLogo {
    height: 5em;
    max-width: 100%;
}

#infoModalApertiumLogoContainer {
    margin-bottom: 1.5em;
}

/* Locale selection */

#secondaryLocaleGlobe {
    padding: 5px 0 0 5px;
}

#localeSelectContainer {
    width: 35%;
}

#primaryLocaleGlobe {
    padding: 5px 5px 0 0;
}

.localeGlobe {
    color: #fff;
    font-size: 1.8em;
    padding: 0 5px 0 0;
}

.localeSelect {
    font-size: 14px;
    height: 25px;
    margin-bottom: 6px;
    margin-top: 7px;
}

/* Back to top button */

#backToTop {
    bottom: 20px;
    opacity: .5;
    position: fixed;
    right: 20px;
    z-index: 999;
}

#backToTop:hover {
    opacity: 1;
}

/* Installation notice */

#installationNotice {
    font-size: inherit;
    margin: 8px;
    padding: 8px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 360px;
    z-index: 9999999;
}

@media (max-width: 992px) {
    #installationNotice {
        display: none;
    }
}

#installationNotice p {
    margin-bottom: 0;
}

#installationNotice .fa-times:hover { /* sass-lint:disable-line class-name-format */
    cursor: pointer;
}

#installationNoticeTitle {
    margin: 0;
    padding-bottom: 10px;
}

/* No JS banner */

#noscript {
    position: fixed;
    right: 0;
    text-align: center;
    top: 5px;
    width: 100%;
    z-index: 10000000000000;
}

/* FontAwesome and Bootstrap 4 helpers */
.fa.float-right { /* sass-lint:disable-line class-name-format */
    margin-left: .3em;
}

/* RTL checking */

html[dir='rtl'] body {
    text-align: right !important; /* sass-lint:disable-line no-important */
}

html[dir='rtl'] .float-right:not(#rtlChecker) { /* sass-lint:disable-line class-name-format */
    float: left !important; /* sass-lint:disable-line no-important */
}

html[dir='rtl'] .float-left:not(#rtlChecker) { /* sass-lint:disable-line class-name-format */
    float: right !important; /* sass-lint:disable-line no-important */
}

html[dir='rtl'] label input[type='checkbox'] {
    margin-right: -20px;
    margin-top: 5px;
}

html[dir='rtl'] button.close { /* sass-lint:disable-line no-qualifying-elements */
    margin-left: 0 !important; /* sass-lint:disable-line no-important */
}
