h2 {
    margin-top: 0;
}

.modeContainer {
    display: none;
}

.outputContainer {
    margin: 5em 0;
}

.blurred {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    opacity: .5;
    transition: all 1s ease;
}

#cancelDocTranslate {
    bottom: -6px;
    right: 20px;
}

html[dir='rtl'] #cancelDocTranslate {
    left: 20px;
    right: auto;
}

#loadingIndicator {
    display: none;
    left: 48%;
    position: absolute;
    top: 45%;
    z-index: 10000;
}

#apertiumLogo {
    margin-bottom: -.25em;
}

#aboutModalTrigger {
    cursor: pointer;
}

#xsHelpMessageContainer {
    margin-top: 10px;
}

.form-group.d-sm-none .translateBtn { /* sass-lint:disable-line class-name-format */
    margin: 4px;
    margin-right: 0;
}

/* Action buttons use blue color instead of the primary orange, overwrite */
#generate, #analyze, #request, .translateBtn {
    /* sass-lint:disable-block no-important */
    background-color: #446e9b !important;
    color: #fff !important;
}

.translateBtn:focus,
.translateBtn:hover, .translateBtn.focus
.translateBtn:active, .translateBtn.active {
    background-color: #385a7f !important; /* sass-lint:disable-line no-important */
}

#srcLanguages .dropdown-item, /* sass-lint:disable-line class-name-format */
#dstLanguages .dropdown-item { /* sass-lint:disable-line class-name-format */
    padding-bottom: 0;
    padding-top: 0;
}

@media (min-width: 768px) {
    .collapse.navbar-collapse { /* sass-lint:disable-line class-name-format */
        bottom: 0;
        position: absolute;
        right: 0;
    }

    html[dir='rtl'] .collapse.navbar-collapse { /* sass-lint:disable-line class-name-format */
        bottom: 0;
        left: 0;
        right: auto;
    }
}

.navbar-toggler { /* sass-lint:disable-line class-name-format */
	position: absolute;
	right: 0;
	top: 10px;
}

html[dir='rtl'] .navbar-toggler { /* sass-lint:disable-line class-name-format */
    left: 0;
	position: absolute;
    top: 10px;
}

/* Monkeypatch for a bug with grid,
   they don't fit in one line otherwise */
.dstLangParent {
    width: calc(50% - 5px);
}

/* Utilities */

/* sass-lint:disable class-name-format */
.w-0 {
    width: 0%;
}

/* sass-lint:enable class-name-format */

/* About modal */

#aboutModalMaintainer {
    padding-bottom: 2em;
}

#gsocLogoContainer,
#codeInLogoContainer {
    text-decoration: none;
}

#gsocLogo {
    height: 2.5em;
}

#codeInLogo {
    height: 2.5em;
    padding-left: .5em;
}

#bytemarkLogo {
    margin-top: .5em;
}

#githubLogo {
    height: 1.5em;
}

#creativeCommonsLicence,
#gnuGplLicence {
    margin-bottom: 0;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 0;
}

/* Info modal */

#infoModalApertiumLogo {
    height: 5em;
    max-width: 100%;
}

#infoModalApertiumLogoContainer {
    margin-bottom: 1.5em;
}

/* Locale selection */

#secondaryLocaleGlobe {
    padding: 5px 0 0 5px;
}

#localeSelectContainer {
    width: 35%;
}

#primaryLocaleGlobe {
    padding: 5px 5px 0 0;
}

.localeGlobe {
    color: #fff;
    font-size: 1.8em;
    padding: 0 5px 0 0;
}

.localeSelect {
    font-size: 14px;
    height: 25px;
    margin-bottom: 6px;
    margin-top: 7px;
}

/* Clear button */

.clearButton {
    background-color: rgba(0, 0, 0, 0);
    padding: 0 3px;
    position: absolute;
    top: 3px;
}

.clearButton:hover,
.clearButton:focus {
    background-color: #eee;
    color: #000;
}

html[dir='ltr'] .clearButton {
    right: 18px;
}

html[dir='rtl'] .clearButton {
    left: 18px;
}

/* Back to top button */

#backToTop {
    bottom: 20px;
    opacity: .5;
    position: fixed;
    right: 20px;
    z-index: 999;
}

#backToTop:hover {
    opacity: 1;
}

/* Installation notice */

#installationNotice {
    font-size: inherit;
    margin: 8px;
    padding: 8px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 360px;
    z-index: 9999999;
}

@media (max-width: 992px) {
    #installationNotice {
        display: none;
    }
}

#installationNotice p {
    margin-bottom: 0;
}

#installationNotice .fa-times:hover { /* sass-lint:disable-line class-name-format */
    cursor: pointer;
}

#installationNoticeTitle {
    margin: 0;
    padding-bottom: 10px;
}

/* No JS banner */

#noscript {
    position: fixed;
    right: 0;
    text-align: center;
    top: 5px;
    width: 100%;
    z-index: 10000000000000;
}

/* FontAwesome and Bootstrap 4 helpers */
.fa.float-right { /* sass-lint:disable-line class-name-format */
    margin-left: .3em;
}

/* RTL checking */

html[dir='rtl'] body {
    text-align: right !important; /* sass-lint:disable-line no-important */
}

html[dir='rtl'] .float-right:not(#rtlChecker) { /* sass-lint:disable-line class-name-format */
    float: left !important; /* sass-lint:disable-line no-important */
}

html[dir='rtl'] .float-left:not(#rtlChecker) { /* sass-lint:disable-line class-name-format */
    float: right !important; /* sass-lint:disable-line no-important */
}

html[dir='rtl'] label input[type='checkbox'] {
    margin-right: -20px;
    margin-top: 5px;
}

html[dir='rtl'] button.close { /* sass-lint:disable-line no-qualifying-elements */
    margin-left: 0 !important; /* sass-lint:disable-line no-important */
}

html[dir='rtl'] .btn-group > .btn { /* sass-lint:disable-line class-name-format */
    border-radius: .2rem 0 0 .2rem;
}

html[dir='rtl'] .btn-group > .btn:first-child:not(.dropdown-toggle), /* sass-lint:disable-line class-name-format */
.btn-group > .btn-group:first-child > .btn { /* sass-lint:disable-line class-name-format */
    border-radius: 0 .2rem .2rem 0;
}
