#noscript {
    position: fixed;
    right: 0;
    text-align: center;
    top: 5px;
    width: 100%;
    z-index: 10000000000000;
}

.navbar {
    margin-top: 4em;
}

body > .container {
    margin-top: 4em;
}
