#navcontainerPosition {
    position: relative;
}

#apertiumLogo {
    margin-bottom: -.25em;
}

.pull-right.hidden-xs {
    width: 35%;
}

.fa.fa-globe {
    padding: 5px 5px 0 0;
}

#srcLangSelect {
    display: inline-block !important;
}

#dstLangSelect {
    display: inline-block !important;
}

#cancelTranslateWebpage {
    display: none;
}

#translateDoc {
    margin-top: 1em;
}

#fileDropBackdrop {
    display: none;
    z-index: 1000;
}

#divforDropDocument {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 35%;
}

#headerForDropDocument {
    font-weight: bold;

}
#fileDropMask {
    opacity: 0;
    z-index: 10000;
}
#docTranslation {
    display: none;
}
#fileName {
    display: none;
}

#divForUploadError {
    min-height: 50px;
    margin-top: 1em;
}

#uploadError {
    display: none;
}
.progress {
    display: none;
    margin-bottom: 0;
}

#fileUploadProgress {
    width: 0%;
}

#fileLoading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

#fileDownload {
    display: none;
}

#morphAnalyzerOutput {
    border-spacing: 0;
}

#selectLanguage {
    padding: 5px 0 0 5px;
}

#footer-container-unoderlist {
    display: inline-block;
}

#mistakeId {
    cursor: pointer;
}

#divForMistake {
    margin-top: 10px;
}
#divForMaintainer {
    padding-bottom: 2em;
}

#refForGsoc,
#refForCodeIn {
    text-decoration: none;
}

#imgOfGsocLogo {
    height: 2.5em;
}

#imgOfCodeInLogo {
  height: 2.5em;
  padding-left: .5em;
}
#imgOfByteMark {
    width: 100%;
    margin-top: .5em;
}

#imgOfSourceforge {
    width: 100%;
    margin-top: .25em;
}

#divForLicenses,
#divForGnuLicenses {
    display: inline-block;
    margin: 0 .5em 0 .5em;
}

#divForcenter-block {
    margin-bottom: 1.5em;
}

#imgofcenter-block {
    height: 5em;
    max-width: 100%;
}

#imgforEnableJs {
    border: 0;
}
