/* General */

h2 {
    margin-top: 0px;
}

.modeContainer {
    display: none;
}

.outputContainer {
    margin-top: 5em;
}

.blurred {
    opacity: .5;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#loading-indicator {
    display: none;
    z-index: 10000;
    position: absolute;
    left: 48%;
    top: 45%;
}

.localeGlobe {
    font-size: 1.8em;
    padding: 0px 5px 0px 0px;
    color: rgb(255, 255, 255);
}

.localeSelect {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 6px;
    height: 25px;
}

.nav li a {
    font-size: 16px;
}

@media(min-width: 768px) {
    html[dir=ltr] .navbar-default .nav {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media(max-width: 768px) {
    html[dir=ltr] .navbar-header {
        padding-left: 15px;
    }
}

.tagline {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
}

.helpMessage {
    background-color: rgba(245, 245, 245, .6);
}

.modal-body h4:first {
    margin-top: 0 !important;
}

.nav-pills {
    cursor: pointer;
}

.clearButton {
    position: absolute;
    top: 3px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 3px;
}

html[dir=ltr] .clearButton {
    right: 18px;
}

html[dir=rtl] .clearButton {
    left: 18px;
}

.clearButton:hover, .clearButton:focus {
    color: #000;
    background-color: #EEE;
}

.apertiumBox {
    width: 4.25em;
    vertical-align: text-bottom;
    margin-right: -.5em;
}

.apertiumLogo {
    font-size: 2.25em;
    color: gray;
    font-family: "DejaVu Sans", "Arial Black", Arial;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: .35em;
}

html[dir=ltr] .apertiumLogo {
    left: 2.25em;
}

html[dir=rtl] .apertiumLogo {
    right: 2.25em;
}

/* Translation */

.notAvailable {
    color: #b94a48;
}

html[dir=ltr] .languageName {
    padding-left: .5em;
}

html[dir=rtl] .languageName {
    padding-right: .5em;
}

.languageName {
    position: relative;
}

.languageName:not(.text-muted) {
    color: #333333;
    text-decoration: none;
}

.languageName:hover:not(.text-muted) {
    color: #ffffff;
    background-color: #446e9b;
    cursor: pointer;
    text-decoration: underline;
}

html[dir=ltr] #srcLanguages {
    min-width: 500px;
    left: 80%;
    right: auto;
}

html[dir=ltr] #dstLanguages {
    min-width: 500px;
    right: 0;
    left: auto;
}

html[dir=rtl] #dstLanguages {
    min-width: 500px;
    left: 0;
    right: auto;
}

html[dir=rtl] #srcLanguages {
    min-width: 500px;
    right: 80%;
    left: auto;
}

button.disabledLang {
    color: gray !important;
    opacity: 1 !important;
}

#originalText, #translatedText {
    resize: vertical;
}

/* Analysis */

.noAnalysis {
    color: #8b0000;
}

div.unit {
    margin-left: 30px;
}

/* No JS Banner */
#noscript {
    position: fixed;
    top: 5px;
    right: 0px;
    width: 100%;
    text-align: center;
    z-index: 10000000000000;
}

.navbar {
    margin-top: 4em;
}

body > .container {
    margin-top: 4em;
}

/* RTL Stuff */

html[dir=rtl] .pull-right:not(#rtlChecker) {
    float: left !important;
}

html[dir=rtl] .pull-left:not(#rtlChecker) {
    float: right !important;
}

@media(min-width: 768px) {
    html[dir=rtl] .navbar-default .nav {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media(max-width: 768px) {
    html[dir=rtl] .navbar-header {
        padding-right: 5px;
    }
}
