html[dir='ltr'] .languageName {
    padding-left: .5em;
}

html[dir='rtl'] .languageName {
    padding-right: .5em;
}

html[dir='ltr'] .languageVariant {
    font-size: 12px;
    padding-left: 2.5em;
}

html[dir='rtl'] .languageVariant {
    font-size: 12px;
    padding-right: 2.5em;
}

.languageName {
    position: relative;
}

.languageName:not(.text-muted) {
    text-decoration: none;
}

.languageName:hover:not(.text-muted) {
    background-color: #446e9b;
    color: #fff;
    cursor: pointer;
}

html[dir='ltr'] #srcLanguages {
    right: auto;
}

html[dir='ltr'] #dstLanguages {
    left: auto;
    right: 0;
}

html[dir='rtl'] #dstLanguages {
    left: 0;
    right: auto;
}

html[dir='rtl'] #srcLanguages {
    left: auto;
}

.disabledLang {
    color: #808080 !important; /* sass-lint:disable-line no-important */
    opacity: 1 !important; /* sass-lint:disable-line no-important */
}

#originalText,
#translatedText {
    resize: vertical;
}

@media(max-width: 768px) {
    #originalText {
        margin-bottom: 1em;
    }
}

#srcLangSelectors {
   padding-left: 0;
}

@media(min-width: 768px) {
    .swapLangBtn {
        position: absolute;
        top: 0;
    }

    html[dir='ltr'] .swapLangBtn {
        right: 15px;
    }

    html[dir='rtl'] .swapLangBtn {
        left: 15px;
    }
}

#translateOptions label {
    clear: both;
}

#translatedWebpage {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 700px;
    width: 100%;
}

#translatedWebpage.notAvailable {
    padding-left: 10px;
    padding-top: 10px;
}

#showTranslateWebpage {
    margin-top: 1em;
}

#translateWebpage {
    display: none;
    overflow: hidden;
}

#translateWebpage .input-group { /* sass-lint:disable-line class-name-format */
    margin-bottom: 10px;
    width: 100%;
}

.cancelTranslateWebpage {
    margin-right: 5px;
}

.chaining {
    display: none;
}

.languageCol {
    float: left;
    padding: 0 15px;
    position: relative;
}

#navcontainerPosition {
    position: relative;
}

#apertiumLogo {
    margin-bottom: -.25em;
}

.pull-right.hidden-xs {
    width: 35%;
}

.fa.fa-globe {
    padding: 5px 5px 0 0;
}

#srcLangSelect {
    display: inline-block;
}

#dstLangSelect {
    display: inline-block;
}

#cancelTranslateWebpage {
    display: none;
}

#translateDoc {
    margin-top: 1em;
}

#fileDropBackdrop {
    display: none;
    z-index: 1000;
}

#divforDropDocument {
    left: 35%;    
    position: absolute;
    top: 35%;
    text-align: center;
}

#headerForDropDocument {
    font-weight: bold;

}
#fileDropMask {
    opacity: 0;
    z-index: 10000;
}
#docTranslation {
    display: none;
}
#fileName {
    display: none;
}

#divForUploadError {
    min-height: 50px;
    margin-top: 1em;
}

#uploadError {
    display: none;
}
.progress {
    display: none;
    margin-bottom: 0;
}

#fileUploadProgress {
    width: 0%;
}

#fileLoading {
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
}

#fileDownload {
    display: none;
}

#morphAnalyzerOutput {
    border-spacing: 0;
}

#selectLanguage {
    padding: 5px 0 0 5px;
}

#footer-container-unoderlist {
    display: inline-block;
}

#mistakeId {
    cursor: pointer;
}

#divForMistake {
    margin-top: 10px;
}
#divForMaintainer {
    padding-bottom: 2em;
}

#refForGsoc,
#refForCodeIn {
    text-decoration: none;
}

#imgOfGsocLogo {
    height: 2.5em;
}

#imgOfCodeInLogo {
  height: 2.5em;
  padding-left: .5em;
}

#imgOfByteMark {
    margin-top: .5em;
    width: 100%;
}

#imgOfSourceforge {
    margin-top: .25em;
    width: 100%;
}

#divForLicenses,
#divForGnuLicenses {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 0;
}

#divForcenter-block {
    margin-bottom: 1.5em;
}

#imgofcenter-block {
    height: 5em;
    max-width: 100%;
}

#imgforEnableJs {
    border: 0;
}
