.blurred {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  opacity: 0.5;
  transition: all 1s ease;
}

#react-mount .btn-primary {
  background-color: #446e9b;
  border-color: #446e9b;
  color: #fff;
}

#react-mount .btn-primary:hover {
  background-color: #385a7f;
}
